.header {
    background-color: indigo;
    line-height: 70px;
    width: 100%;
    
}

.header a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-weight: 500;
}
.header a:hover{
    border-bottom: 2px solid greenyellow;
    
}

.band{
    background-color: indigo;
    color: white;
    border: none;
    position: absolute;
    left: 20px;
    font-weight: bolder;
}